.yorumcu h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.yorumcu p {
  font-size: 1rem;
}

.form-wrapper {
  background-color: #fffafa;
  box-shadow: 2px 2px 10px gray;
}

/* KAHVE FORM */

.kahve-form .form-control {
  background-color: white;
}
.kahve-form label {
  font-weight: 600;
}

.single-checkbox label {
  display: inline;
  font-weight: 400;
}

.single-checkbox a {
  text-decoration: none;
}

/*radio buttons*/
.rad-label {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, 0.14);
}

.rad-input {
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  z-index: -1;
}

.rad-design {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100px;
  /* border-radius: 50%; */
  background: linear-gradient(
    to right bottom,
    rgba(28, 187, 237, 1),
    rgba(27, 41, 133, 1)
  );
}

.rad-design::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: 0.3s;
  border-radius: inherit;
}

.rad-input:checked + .rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 0.8rem;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 900;

  transition: 0.3s;
}

.rad-input:checked ~ .rad-text {
  color: rgba(27, 41, 133, 1);
}

/* photo */

.camera {
  position: relative;
}

.camera-buttons {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0.5rem;
  display: none;
}

.photo-upload1,
.photo-upload2 {
  cursor: pointer;
}

.kahve-fali-main select,
.kahve-fali-main input[type="checkbox"],
.kahve-fali-main input[type="radio"] {
  cursor: pointer;
  font-weight: 600;
}

.photo-upload2 img,
.photo-upload1 img {
  width: 3rem;
  height: 3rem;
}

#webcam {
  display: none;
}

.photo-upload1 {
  position: relative;
}
.photo-upload1 input[type="file"] {
  max-width: 100%;
  height: 100%;
  display: block;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* TAROT FORM */
.tarot-fali-main span {
  font-weight: bold;
  font-size: larger;
}

.tarot-cards-remaining,
.tarot-cards-remaining-alternative {
  -webkit-text-decoration: underline #0d6efd;
  text-decoration: underline #0d6efd;
}

.tarot-cards {
  cursor: pointer;
  transition: transform 0.1s linear;
}

.tarot-cards img {
  width: 3rem;
}

.selected {
  transform: scale(1.1) !important;
  box-shadow: 0 0 0 4px #7a49a5;
}

/* Tarot Kartlari Alternatif Dagilim */
.tarot-cards-alternative img {
  width: 4rem;
  height: 100%;
  /* width: 100%; */
}
.tarot-cards-alternative {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* border: 1px solid black; */
  -webkit-filter: drop-shadow(0px 0px 1px black);
  filter: drop-shadow(0px 0px 1px black);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform 0.1s linear;
}

.tarot-cards-wrapper {
  position: relative;
  /* width: 800px; */
  width: 100%;
  height: 100px;
}

.selected-alternative {
  transform: translateY(-1rem) !important;
  border: 2px solid #7a49a5;
}

@media screen and (max-width: 768px) {
  .camera-buttons {
    left: 2rem;
  }
}
