.guest_index_body {
  font-family: "Open Sans", sans-serif;
}

.all_blog_btn {
  height: 267px;
  width: 200px;
  background: url("../assets/images/blogBtnImg.png") no-repeat scroll 0 0
    transparent;
  border: none;
  border-radius: 15px;
}

.box {
  width: 500px;
  height: 300px;
  position: relative;
  background-color: cornflowerblue;
}

.content {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.site_name {
  font-family: "Dancing Script", cursive;
  font-size: 3.1rem;
}

.main_btn:hover {
  background-color: #389bf1 !important;
  color: black;
}

.profile_card {
  display: flex;
  flex-direction: column;
  padding-left: 43px;
  border: none;
}

.profile_cards_index {
  color: white;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  background-color: #1b2985;
  border-radius: 15px;
  padding: 10px;
  overflow-y: hidden;
}

.profile_cards_index::-webkit-scrollbar {
  display: hide;
}

.profile_img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.name_surname {
  padding-left: 13px;
  padding-top: 10px;
  font-family: "Hammersmith One", sans-serif;
}

.star_point {
  color: orange;
}

.stars {
  padding-right: 15px;
}

.comment_buy {
  border-radius: 15px;
}

.header {
  font-family: "Lobster", cursive;
}

.banner {
  border-radius: 8px;
  background-color: #dbdae8;
  padding: 2rem;
  position: relative;
}

.banner-text {
  color: white;
  font-size: 5.5rem;
}

.logo-banner {
  width: 10rem;
  height: 10rem;
}
.logo-wrapper {
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  width: 16.5rem;
  height: 16.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo-fortune {
  width: 16.5rem;
  height: 18.5rem;
}

.kategoriler {
  height: 100%;
}

.kategoriler .nav-item {
  border-radius: 0.25rem;
}

.kategoriler button {
  color: #dbdae8;
}

.btn-danger {
  padding: 0.2rem;
  background-image: linear-gradient(144deg, #af40ff, #1b2985 50%, #1cbbed);
  border: none;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

.btn-danger:active,
.btn-danger:hover {
  outline: 0;
  background-image: linear-gradient(144deg, #1cbbed, #1b2985 50%, #af40ff);
}

.kategoriler a:active {
  background-color: #1b2985;
}

.nav-pills:hover,
.nav-link:hover {
  background: none;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  width: 100%;
  height: 100%;
  background-color: rgb(5, 6, 45);
  transition: background 500ms linear;
}

.nav-link:focus,
.nav-link:hover {
  color: inherit;
}

.tabs-wrapper .small-cards {
  padding: 1.5rem;
}

.small-images img {
  width: 82px;
}

.small-images .small-cards {
  width: 9rem;
  height: 215px;
}

.small-cards-wrapper {
  margin-right: 1rem;
}

.small-cards-wrapper a {
  text-decoration: none;
}

.small-cards {
  text-align: center;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 12rem;
  height: 16rem;
  box-shadow: 1px 1px 3px 1px lightgrey;
  transition: transform 0.2s linear;
}
.small-cards img {
  margin-bottom: 1.5rem;
}

.small-cards:hover {
  transform: scale(1.1);
}

.small-cards:active {
  transform: scale(1);
}

.small-cards p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: black;
}

.fal_türleri {
  margin-top: 2%;
  background-color: #dbdae8;
  border-radius: 15px;
  padding: 1rem 0.5rem;
}

.fal {
  flex-wrap: wrap;
}
.fal_type_button {
  background-color: transparent;
  border-radius: 15px;
  transition: 0.5s;
}

.fal_type_button:hover {
  border: 1px solid rgb(131, 57, 199);
}

.card-text {
  background-color: white;
}

.blog_card {
  margin-bottom: 20px;
}

.btn-secondary {
  color: inherit;
  background-color: #dbdae8;
}

.login_btn {
  font-size: 1.25rem;
}

.digerCardText {
  background-color: white !important;
}

.slider {
  position: relative;
  height: 267px;
}

.carousel-inner {
  height: 100%;
  border-radius: 15px;
}

.carousel {
  height: 100%;
}

.carousel .carousel-item {
  height: 400px;
}

.fill img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}
.fill {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}
/*Telefon*/
@media screen and (max-width: 768px) {
  .ilan {
    width: 100%;
  }

  .tabs-wrapper {
    overflow-x: scroll;
  }

  .logo-wrapper {
    width: 6.5rem;
    height: 6.3rem;
    position: initial;
  }

  .logo-fortune {
    width: 6.5rem;
    height: 7.5rem;
  }

  .kategoriler {
    height: initial;
  }
}
/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 992px) {
  .ilan {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .tabs-wrapper {
    overflow-x: scroll;
  }
}
/*Telefon, Tablet portre modu*/
@media screen and (max-width: 992px) {
  .carousel-inner {
    height: 100%;
  }

  .small-cards-wrapper {
    margin-bottom: 1.5rem;
  }

  .small-cards {
    padding: 0.5rem;
    width: 12rem;
    height: 265px;
  }

  .small-cards img {
    padding-top: 0;
  }

  .fill {
    background-size: 100% 100%;
  }

  .all_blog_btn {
    background-size: 100% 100%;
    width: 100%;
  }
}
